<div ng-controller="mainController">
    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>Green Teuf!</h1>
        <p>
            L’esprit du site GreenTeuf, c’est bien entendu la fête verte, mais vert à double sens, d’abord car ce sont des activités de plein air, mais aussi, parce que la plupart des équipements sont réalisés à partir d’équipements de récupération, des cumulus d’eau chaude par exemple. L’ambiance du site se veut bucolique et l’idée est plus d’assister à l’organisation d’une fête de plein air réussie et à bas coût. Que du marchandising primaire.
        </p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Derniers Produits</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-lg-4 col-md-6 col-sm-12 hero-feature" ng-repeat="product in products | orderBy:'-id' | limitTo:6 ">
            <div class="thumbnail buy-thumbnail">
                <div class="images" ng-if="product.images.length > 0">
                    <slider images="product.images" />
                </div>
                <div class="caption">
                    <h4>{{ product.name }}</h4>
                    <p>{{ product.caption }}</p>
                    <p>
                        <a href="#" class="pull-down btn btn-primary">Buy Now!</a> <a ng-href="#/produit/{{ product.id }}" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>
