<div ng-controller="productsController">
    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Nos Produits</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-lg-3 col-md-4 col-sm-6 hero-feature" ng-repeat="product in products | orderBy:'-id'">
            <div class="thumbnail buy-thumbnail">
                <div class="images" ng-if="product.images.length > 0">
                    <slider images="product.images" />
                </div>
                <div class="caption">
                    <h4>{{ product.name }}</h4>
                    <p>{{ product.caption }}</p>
                    <p>
                        <a href="#" class="pull-down btn btn-primary">Buy Now!</a> <a ng-href="#/product/{{ product.id }}" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>
